<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegog.mascotas" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.diegog.mascotas.ListaMascotas" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.diegog.mascotas.Favoritas"
            android:parentActivityName="com.diegog.mascotas.ListaMascotas" >

            <!-- Soporte v4.0 _ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.diegog.mascotas.ListaMascotas" />
        </activity>
        <activity android:name="com.diegog.mascotas.menu.Contacto" />
        <activity android:name="com.diegog.mascotas.menu.Acerca" />
        <activity android:name="com.diegog.mascotas.menu.Instagram" >
        </activity>

        <service
            android:name=".messaging.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".messaging.NotificationIDTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".ServiceInstragram">
            <intent-filter>
                <action android:name="FOLLOW_UNFOLLOW"/>
            </intent-filter>
            <intent-filter>
                <action android:name="TARGET"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>